* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.head-title {
  font-size: 50px;
  font-weight: bold;
  color: #272727;
  line-height: 1.3;
}
.text-titles {
  width: 50%;
  padding-left: 60px;
}
.head-main {
  background-color: rgba(229, 82, 115, 10%);
  display: flex;
  align-items: center;
  padding: 30px 40px 0px 40px;
}
.head-img {
  width: 400px;
  padding-left: 140px;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.head-section {
  background-color: rgb(229, 84, 115, 10%);
  display: flex;
  justify-content: space-around;
  padding: 40px;
  padding-bottom: 0px;
}
.hot-section {
  padding: 100px;
}
.head-image {
  height: 504px;
  width: 400px;
}

.head-left {
  width: 50%;
  align-items: last baseline;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
}
.head-desc {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #272727af;
  padding-bottom: 20px;
}

.btn-pink {
  background-color: #e55473;
  padding: 15px 30px;
  border: 0;
  color: white;
  border-radius: 10px;
  font-size: 17px;
  text-decoration: none;
}
.head-image-parent {
  padding-bottom: 0px;
}

.head-all {
  margin: 0;
  padding: 0;
}
.image-box1 {
  background-color: #a7216215;
  border-radius: 300px 300px 0 0;
  padding: 30px;
  padding-bottom: 0;
}
.image-box2 {
  background-color: #0597a015;
  border-radius: 300px 300px 0 0;
  padding: 30px;
  padding-bottom: 0;
}
.image-box3 {
  background-color: #477d1115;
  border-radius: 300px 300px 0 0;
  padding: 30px;
  padding-bottom: 0;
}
.image-card-parent {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 30px;
}
.desc-featured-flower {
  text-align: center;
  margin-bottom: 40px;
  color: #272727af;
  padding-top: 20px;
}
.title-featured-flower {
  text-align: center;
  margin-top: 60px;
  font-size: 40px;
}
.img-title {
  text-align: center;
  text-decoration: underline;
  color: #272727;
}
.support-section-parent {
  display: flex;
  background-color: #27272715;
  padding: 30px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 140px;
  border-radius: 10px;
}
.support-section-parent {
  padding: 60px;
}
.support-section-parent h3 {
  color: rgba(39, 39, 39, 80%);
  font-size: 20;
  font-weight: 500;
}
.off-word,
.flower-word {
  color: #e55473;
}
.head-image2 {
  width: 200px;
}
.head-title2 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.head-paragraph2 {
  text-align: center;
  padding: 30px;
  color: #272727af;
}
.head-left2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.insta-img {
  width: 250px;
  margin: 5px;
}
.insta-section-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.insta-desc {
  text-align: center;
  margin: 40px;
}
.insta-title {
  margin-top: 50px;
}

.youtube-vid-parents iframe {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 50px;
}
.youtube-title {
  margin: 60px;
  margin-bottom: 0;
}
.youtube-head {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: antiquewhite;
  margin-bottom: 50px;
  margin-top: 100px;
}
.youtube-desc {
  padding-top: 10px;
  padding-bottom: 30px;
}
.subscribe-section-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 50px;
  background-image: url("./Flower Asset/Rectangle\ 9.png");
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 100px;
}
.deal-text {
  margin-top: 130px;
  margin-bottom: 0px;
  font-size: 35px;
}
.placeholder-subs {
  border: none;
  padding: 20px 400px;
  padding-left: 15px;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 140px;
}
.tagline-subs {
  padding: 30px;
}
.footer {
  background-color: #111010;
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding: 60px;
}
.copyright {
  color: #ffffff40;
  padding: 20px;
}
.footer-title {
  padding: 20px;
}
